/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body {
    font-family:sans-serif;
    position: relative;
    background-color: lightgrey;
}

/* pannello centrale */

.barra {
    height: 200px;
    background-color: green;
}

.container {
    width: 1200px;
    height: 900px;
    background-color: antiquewhite;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}


/* side-bar */
.side-bar {
    width: 35%;
    background-color: aqua;
    border-right: 1px solid gray;
}

.header-side {
    height: 80px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.notifications {
    height: 80px;
    background-color: #8edafc;
}

.search {
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
}

.search input {
    margin-left: 10px;
    width: 370px;
}

.search i {
    margin-left: 10px;
    
}

.contacts {
    height: calc(100% - 200px);
    background-color: white
}

.header-side img {
    height: 60px;
    border-radius: 50%;
}

.header-side h2 {
    font-size: 20px;
}
.soggetto {
    display: flex;
    align-items: center;
}

.oggetto {
    display: flex;
    align-items: center;
}
.header-side i {
    margin-right:  10px;
    color: #b1b1b1;
    font-size: 20px;
}


/* pannello messaggi */

.message {
    width: 65%;
    background-color: bisque;
}

.header-panel {
    height: 80px;
    background-color: #eaeaea;
}

.message-panel {
    height: calc(100% - 160px);
    background-image: url(../img/mine.png);
    object-fit: contain;
}

.footer {
    height: 80px;
    background-color: #f3eeea;
}


